In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("combination.csv")

In [9]:
dataframe = pd.DataFrame(data)

In [10]:
dataframe.groupby("Extreme Function")["Result"].agg(['min', 'max', 'mean'])

                       min       max      mean
Extreme Function
isextreme         0.065693  0.660584  0.374857
isextremez        0.127737  0.567416  0.242642
noextreme         0.136508  0.660584  0.375272

In [11]:
dataframe.groupby(["Trainset Columns", "Testset Columns"])["Result"].agg(['min', 'max', 'mean'])

                                       min       max      mean
Trainset Columns Testset Columns
600              60               0.154494  0.620787  0.338896
                 300              0.154494  0.626404  0.360849
                 600              0.165730  0.609551  0.364544
1200             120              0.136508  0.631746  0.341076
                 600              0.107937  0.603175  0.330331
                 1200             0.126984  0.565079  0.312477
1800             180              0.091241  0.660584  0.340034
                 900              0.065693  0.609489  0.325376
                 1800             0.127737  0.529197  0.264731

In [15]:
dataframe.groupby(["Trainset Columns", "Testset Columns"])["Result"].agg(['min', 'max', 'mean'])

                                       min       max      mean
Trainset Columns Testset Columns
600              60               0.154494  0.620787  0.338896
                 300              0.154494  0.626404  0.360849
                 600              0.165730  0.609551  0.364544
1200             120              0.136508  0.631746  0.341076
                 600              0.107937  0.603175  0.330331
                 1200             0.126984  0.565079  0.312477
1800             180              0.091241  0.660584  0.340034
                 900              0.065693  0.609489  0.325376
                 1800             0.127737  0.529197  0.264731

In [21]:
dataframe.sort_values(by="Result")

,Combination,Extreme Function,Trainset Columns,Testset Columns,Result
1502,111000,isextreme,1800,900,0.065693
1501,111000,isextreme,1800,180,0.091241
1499,111000,isextreme,1200,600,0.107937
70212,101000101001,isextreme,1200,1200,0.126984
21849,1100101010,isextremez,1800,1800,0.127737
...,...,...,...,...,...
97198,111000010000,noextreme,1800,180,0.660584
50542,11101010000,noextreme,1800,180,0.660584
50965,11101100000,isextreme,1800,180,0.660584
106261,111101100000,isextreme,1800,180,0.660584
92014,110101010000,noextreme,1800,180,0.660584